

<style>

</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">

  <div class="text">
    <input id="fhwslogo" type="image" src="../assets/FHWS_Logo_Vote2.png" width="150px" height="15%">
  </div>


  <div id="userfield" routerLink="/main">
    {{isLoggedIn()}}
    <div class="usericon" *ngIf="showUsericon">
      <mat-icon id="icon">person</mat-icon>
      <div id="userName">{{getUsername()}}</div>
    </div>

  </div>


</div>


<router-outlet></router-outlet>

<div class="connectionLost" *ngIf="connectionIsLost">
  <mat-icon id="connectionLosticon">report_problem</mat-icon>
  <div id="connectionLost_txt"> SERVER ERROR!</div>
</div>
