

<style>
  .backgroundImage{
    background-image: url('././assets/background-vote.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
  }
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">

  <div class="text" >
  <h1> FHWS-VOTE</h1>
  </div>

  <div class="username" >
    <h1> Lukas Mueller</h1>
  </div>

</div>



<div class="body">
  <div class="backgroundImage"></div>
<!-- Loginwindow -->
<div class="loginfield" >

  <div id="loginwindow">
    <p>Login to your account</p>
    <div class="txt_field">
      <input type="text" required>
      <span></span>
      <label>Username</label>
    </div>
    <div class="txt_field">
      <input type="password" required>
      <span></span>
      <label>Password</label>
    </div>
    <div class="helpbutton"> Need help?</div>
    <input type="submit" value="Login">
  </div>

</div>

<router-outlet></router-outlet>

<question>
</question>

</div>
