/* You can add global styles to this file, and also import other style files */
.body{
  /*background-image: url("assets/background-vote2.png");
   */
  background-color: rgb(233,238,240);
  background-size: cover;
  background-repeat: repeat;
  background-position: center center;
  height: 100vh;
}
